In [11]:
# Uncomment the pip install code below if you haven't installed these libraries yet
#!pip install pandas
#!pip install zipfile
#!pip install kaggle

# import the pandas library
import pandas as pd

# import zipfile library (we will use this to extract the file downloaded from Kaggle)
import zipfile

# import kaggle library (we will use this to download the dataset programatically from Kaggle)
import kaggle

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/mochen/.kaggle/kaggle.json'

Documentation on how to use the Kaggle API
https://www.kaggle.com/docs/api

In [10]:
# download dataset from kaggle using the Kaggle API
!kaggle datasets download -d hmavrodiev/london-bike-sharing-dataset

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /home/mochen/.kaggle/kaggle.json'
Downloading london-bike-sharing-dataset.zip to /mnt/c/users/moche/OneDrive/Documents/data-with-mo/LondonBikes
100%|████████████████████████████████████████| 165k/165k [00:00<00:00, 1.44MB/s]
100%|████████████████████████████████████████| 165k/165k [00:00<00:00, 1.43MB/s]

In [13]:
# extract the file from the downloaded zip file
zipfile_name = 'london-bike-sharing-dataset.zip'
with zipfile.ZipFile(zipfile_name, 'r') as file:
    file.extractall()

In [16]:
# read in the csv file as a pandas dataframe
bikes = pd.read_csv("london_merged.csv")

In [18]:
# specifying the column names that I want to use
new_cols_dict ={
    'timestamp':'time',
    'cnt':'count', 
    't1':'temp_real_C',
    't2':'temp_feels_like_C',
    'hum':'humidity_percent',
    'wind_speed':'wind_speed_kph',
    'weather_code':'weather',
    'is_holiday':'is_holiday',
    'is_weekend':'is_weekend',
    'season':'season'
}

# Renaming the columns to the specified column names
bikes.rename(new_cols_dict, axis=1, inplace=True)

In [19]:
# changing the humidity values to percentage (i.e. a value between 0 and 1)
bikes.humidity_percent = bikes.humidity_percent / 100

In [20]:
# creating a season dictionary so that we can map the integers 0-3 to the actual written values
season_dict = {
    '0':'spring',
    '1':'summer',
    '2':'autumn',
    '3':'winter'
}

# creating a weather dictionary so that we can map the integers to the actual written values
weather_dict = {
    '1':'Clear',
    '2':'Scattered clouds',
    '3':'Broken clouds',
    '4':'Cloudy',
    '7':'Rain',
    '10':'Rain with thunderstorm',
    '26':'Snowfall',
    '94':'Freezing fog'
}

# changing the seasons column data type to string
bikes.season = bikes.season.astype('str')
# mapping the values 0-3 to the actual written seasons
bikes.season = bikes.season.map(season_dict)

# changing the weather column data type to string
bikes.weather = bikes.weather.astype('str')
# mapping the values to the actual written weathers
bikes.weather = bikes.weather.map(weather_dict)

In [21]:
# checking our dataframe to see if the mappings have worked
bikes.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,NaN,0.0,1.0,NaN
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,NaN,0.0,1.0,NaN
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,NaN,0.0,1.0,NaN
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,NaN,0.0,1.0,NaN
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,NaN,0.0,1.0,NaN

In [22]:
# writing the final dataframe to an excel file that we will use in our Tableau visualisations. The file will be the 'london_bikes_final.xlsx' file and the sheet name is 'Data'
bikes.to_excel('london_bikes_final.xlsx', sheet_name='Data')